{% load compress %}
{% load static %}
<!doctype html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  <link rel="stylesheet" href="{% static 'src/swiper-bundle.min.css' %}" />
  {% endcompress %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
  <!-- ScrollReveal Library -->
  <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>
</head>

<body class="bg-gray-100 text-gray-900">
  <!-- Loading Bar Animation -->
  <div class="loading-bar" id="loading-bar"></div>

  {% include 'inc/navbar.html' %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <main class="container mx-auto py-6">
    {% block content %}{% endblock %}
  </main>

  {% include 'inc/footer.html' %}

  <script src="{% static 'js/myfunctions.js' %}"></script>
</body>

</html>