{% extends 'layouts/base.html' %}

{% block title %}
Cart | thisShop
{% endblock title %}

{% block content %}
<div class="bg-gray-100 h-screen py-8">
  <div class="container mx-auto px-4">
    <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
    <div class="flex flex-col md:flex-row gap-4">
      {% if cart_items %}
      <div class="md:w-3/4">
        <div class="bg-white rounded-lg shadow-md p-6 mb-4">
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left font-semibold">Product</th>
                <th class="text-left font-semibold">Price</th>
                <th class="text-left font-semibold">Quantity</th>
                <th class="text-left font-semibold">Total</th>
                <th class="text-left font-semibold">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr data-cart-item-id="{{ item.id }}">
                <td class="py-4">
                  <div class="flex items-center">
                    <img class="h-16 w-16 mr-4" src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}">
                    <span class="font-semibold">{{ item.product.name }}</span>
                  </div>
                </td>
                {% if item.product.discounted_price %}
                <td class="py-4">${{ item.product.discounted_price }}</td>
                {% else %}
                <td class="py-4">${{ item.product.selling_price }}</td>
                {% endif %}
                <td class="py-4">
                  <div class="flex items-center">
                    <input type="number" value="{{ item.product_qty }}" min="1" class="w-16 text-center border rounded update-quantity bg-orange-400" data-cart-item-id="{{ item.id }}">
                    <button class="btn btn-primary btn-sm btn-outline rounded update-cart" data-cart-item-id="{{ item.id }}">Update</button>
                  </div>
                </td>
                <td class="py-4 item-total" data-cart-item-id="{{ item.id }}">${{ item.item_total }}</td>
                <td class="py-4">
                  <button class="btn btn-primary btn-sm btn-outline remove-cart" data-cart-item-id="{{ item.id }}">Remove</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a href="{% url 'shop' %}" class="btn-link flex font-semibold hover:text-indigo-600 text-sm mt-10">
          <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
            <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
          </svg>
          Continue Shopping
        </a>
      </div>
      {% endif %}
      {% if cart_items %}
      <div class="md:w-1/4">
        <div class="bg-white rounded-lg shadow-md p-6">
          <h2 class="text-lg font-semibold mb-4">Summary</h2>
          <div class="flex justify-between mb-2">
            <span class="font-semibold">Total</span>
            <span class="font-semibold" id="cart-subtotal">${{ total }}</span>
          </div>
          <hr class="my-2">
          <button id="btnCheckout" type="button" class="btn btn-wide btn-accent min-w-[200px] px-4 py-2.5 border border-gray-800  hover:bg-gray-50  rounded">Checkout</button>
        </div>
      </div>
      {% else %}
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-lg font-semibold mb-4">Your shopping cart is empty</h2>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal for login prompt -->
<div id="loginModal" class="fixed inset-0 z-50 overflow-auto bg-smoke-light items-center justify-center hidden">
  <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex rounded-lg">
    <div class="modal-header">
      <h5 class="text-lg font-bold">Login Required</h5>
      <button id="btnCloseModal" class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">✕</button>
    </div>
    <div class="modal-body mt-4">
      <p>Please log in to continue to the checkout page.</p>
    </div>
    <div class="modal-footer mt-4 flex justify-end">
      <button id="btnClose" class="btn btn-outline mr-2">Close</button>
      <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const btnCheckout = document.getElementById("btnCheckout");
    const loginModal = document.getElementById("loginModal");
    const btnClose = document.getElementById("btnClose");
    const btnCloseModal = document.getElementById("btnCloseModal");

    btnCheckout.addEventListener("click", function () {
      const isAuthenticated = "{{ request.user.is_authenticated|yesno:'true,false' }}";
      console.log("User is authenticated: " + isAuthenticated);
      if (isAuthenticated === "false") {
        loginModal.classList.remove("hidden");
        loginModal.classList.add("flex");
      } else {
        window.location.href = "{% url 'checkout_page' %}";
      }
    });

    function closeModal() {
      loginModal.classList.add("hidden");
      loginModal.classList.remove("flex");
    }

    btnClose.addEventListener("click", closeModal);
    btnCloseModal.addEventListener("click", closeModal);

    // Update Cart Quantity
    document.querySelectorAll('.update-cart').forEach(button => {
      button.addEventListener('click', function () {
        const cartItemId = this.dataset.cartItemId;
        const quantity = document.querySelector(`.update-quantity[data-cart-item-id="${cartItemId}"]`).value;

        fetch(`/update-cart/${cartItemId}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify({ quantity: quantity }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'Cart updated') {
              alert('Cart updated successfully!');
              // Update the item total
              document.querySelector(`.item-total[data-cart-item-id="${cartItemId}"]`).textContent = `$${data.item_total.toFixed(2)}`;
              // Update the cart subtotal and total
              document.getElementById('cart-subtotal').textContent = `$${data.total.toFixed(2)}`;
              document.getElementById('cart-total').textContent = `$${data.total.toFixed(2)}`;
            } else {
              alert('Error: ' + data.status);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
    });

    // Remove Cart Item
    document.querySelectorAll('.remove-cart').forEach(button => {
      button.addEventListener('click', function () {
        const cartItemId = this.dataset.cartItemId;

        fetch(`/remove-cart/${cartItemId}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
          },
        })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'Item removed from cart') {
              alert('Item removed from cart!');
              // Update the cart count in the navbar
              document.getElementById('cart-count').textContent = data.cart_count;
              // Update the cart subtotal and total
              document.getElementById('cart-subtotal').textContent = `$${data.total.toFixed(2)}`;
              document.getElementById('cart-total').textContent = `$${data.total.toFixed(2)}`;
              // Remove the item row from the table
              document.querySelector(`tr[data-cart-item-id="${cartItemId}"]`).remove();
            } else {
              alert('Error: ' + data.status);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
    });
  });
</script>

{% endblock content %}