{% extends 'layouts/base.html' %}
{% block title %}
Checkout | thisShop
{% endblock title %}
{% block content %}

<div class="relative mx-auto w-full ">
    {% if cart_items %}
    <div class="container mx-auto p-6">
        <div class="bg-white rounded shadow-lg p-6">
            <h2 class="text-2xl font-semibold mb-6">Checkout</h2>
            <div class="mb-6">
                <h3 class="text-xl font-semibold mb-3">Cart Items</h3>
                <ul class="divide-y divide-gray-200">
                    {% for item in cart_items %}
                    <li class="py-4 flex justify-between">
                        <div>
                            <h4 class="font-medium">{{ item.product.name }}</h4>
                            <p class="text-gray-500">Quantity: {{ item.product_qty }}</p>
                        </div>
                        <div class="text-right">
                            <p class="font-medium">{{ item.item_total }} USD</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="mb-6">
                <h3 class="text-xl font-semibold mb-3">Total: {{ total }} USD</h3>
            </div>
            <form method="POST" class="space-y-6">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    {% for field in form.visible_fields %}
                        <div>
                            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <button type="submit"
                        class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700">
                        Proceed to Payment
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <!-- display alert if cart is empty -->
    <div class="container mx-auto w-full p-4">
        <p class="text-center text-red-700 text-lg font-semibold">Your cart is empty. Please add some items to your
            cart.</p>
    </div>
    {% endif %}
</div>


{% endblock content %}