{% extends 'layouts/base.html' %}
{% block title %}
thisShop | Is The Shop
{% endblock title %}

{% block content %}
{% include 'inc/hero.html' %}
<div class="container m-auto px-2 md:px-12 lg:px-7 my-5">
  <div class="flex flex-wrap ">
    <div class="w-full">
      <h4 class="mb-3"> Latest Offfers</h4>
      <hr style="border-color:#b8bfc2;">
    </div>

    {% for item in products %}
    <a href="{% url 'product_details' item.category.name item.name %}">

    <div class="card card-compact w-72 duration-500 hover:scale-105 hover:shadow-xl">
      <figure><img src="{{item.product_image.url}}" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title text-red-500">{{ item.name }}</h2>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">
            <span class="float-start old_price text-black"><s>${{ item.original_price | stringformat:'d'}}</s></span>
            <span class="float-end new_price text-blue-500">${{ item.selling_price | stringformat:'d' }}</span>
          </p>
            <!-- <div class="card-actions justify-end">
              <button class="btn btn-primary">Add to Cart</button>
            </div> -->
        </div>
    </div>

    </a>

    <div class="divider-horizontal"></div>

    {% endfor %}
  </div>
</div>
</div>
{% endblock content %}