{% extends 'layouts/base.html' %}
{% block title %}
thisShop | Is The Shop
{% endblock title %}

{% block content %}
{% include 'inc/hero.html' %}
    <!-- Featured Products -->
    <section class="py-10">
      <div class="container mx-auto px-6">
        <h2 class="text-2xl font-bold mb-6">Featured Products</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
          {% for item in products %}
          <!-- Sneaker Card -->
          <div class="bg-white border border-gray-200 rounded-md shadow-sm p-4">
            <figure class="flex justify-center items-center rounded-2xl">
            <img src="{{item.product_image.url}}" alt="{{ item.name }}" class="w-full h-auto rounded-md">
            </figure>
            <a href="{% url 'product_details' item.category.name item.name %}">
            <h3 class="text-center text-lg font-semibold mt-4">{{ item.name }}</h3>
            </a>
            <!-- <p class="text-center text-sm text-gray-600 mt-2">{{ item.description|truncatewords:10 }}.</p> -->
            {% if item.discounted_price %}
            <h4 class="text-lg text-center text-red-800 font-bold mt-4"><strike
                class="text-gray-400 ml-2 font-medium">${{ item.selling_price| stringformat:'d'}}</strike></h4>
            <h4 class="text-md text-center text-blue-800 font-bold mt-4">${{ item.discounted_price| stringformat:'d'}}</h4>
            {% else %}
            <h4 class="text-md text-center text-blue-800 font-bold mt-4">${{ item.selling_price| stringformat:'d'}}</h4>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
<!-- <div class="font-[sans-serif] bg-gray-100">
  <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">
    <h2 class="text-4xl font-extrabold text-gray-800 mb-12">Featured Products</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-xl:gap-4 gap-6">

      {% for item in products %}

      <div class="bg-white rounded-2xl p-5 cursor-pointer hover:-translate-y-2 transition-all relative">
        <div
          class="bg-gray-100 w-10 h-10 flex items-center justify-center rounded-full cursor-pointer absolute top-4 right-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="18px" class="fill-gray-800 inline-block" viewBox="0 0 64 64">
            <path
              d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
              data-original="#000000"></path>
          </svg>
        </div>
        <div class="w-11/12 h-[210px] overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4">
          <img src="{{item.product_image.url}}" alt="{{ item.name }}" class="h-full w-full object-contain" />
        </div>
        <div class="text-center p-6">
          <a href="{% url 'product_details' item.category.name item.name %}">
            <h3 class="text-lg font-extrabold text-cyan-800 duration-500 hover:text-orange-800">
              {{ item.name }}</h3>
          </a>
          <p class="text-gray-600 text-sm mt-2">{{ item.description|truncatewords:10 }}</p>
          {% if item.discounted_price %}
          <h4 class="text-lg text-red-800 font-bold mt-4"><strike
              class="text-gray-400 ml-2 font-medium">${{ item.selling_price| stringformat:'d'}}</strike></h4>
          <h4 class="text-lg text-blue-800 font-bold mt-4">${{ item.discounted_price| stringformat:'d'}}</h4>
          {% else %}
          <h4 class="text-lg text-blue-800 font-bold mt-4">${{ item.selling_price| stringformat:'d'}}</h4>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->

{% endblock content %}