{% extends 'layouts/base.html' %}
{% block title %}
thisShop | Is The Shop
{% endblock title %}

{% block content %}
<section class="bg-gray-100 py-4 my-5" style="min-height:600px;">
  <div class="container mx-auto sm:px-4">
    <div class="flex flex-wrap ">
      <div class="w-full">
        <h4 class="mb-3">  {{products}} Details</h4>
        <hr style="border-color:#b8bfc2;">
        <nav aria-label="breadcrumb">
          <ol class="flex flex-wrap list-reset pt-3 pb-3 py-4 px-4 mb-4 bg-gray-200 rounded">
            <li class="inline-block px-2 py-2 text-gray-700"><a href="{% url 'index' %}">Home</a></li>
            <li class="inline-block px-2 py-2 text-gray-700"><a href="{% url 'collections' products.category.name  %}">Collections</a></li>
            <li class="inline-block px-2 py-2 text-gray-700 active" aria-current="page">{{products}}</li>
          </ol>
        </nav>
        {% include 'inc/message.html' %}
      </div>
      <div class="w-1/3 my-3 pic-box">
        {% if products.trending %}
          <div class="hot">Hot</div>
          {% endif %}
          <img src="{{products.product_image.url}}"  class="card-image-top" alt="{{products}}">
      </div>
      <div class="w-2/3 my-3">
          <h5 class="text-green-500">{{products | upper}}</h5>
          <p>{{products.vendor}}</p>
          <p>{{products.description}}</p>
          <h6 class="my-2 text-red-600">Current Price : $. <s>{{products.original_price}}</s></h6>
          <h5 class="my-2 text-blue-600">Offer Price   : $.{{products.selling_price}}</h5>
          <div class="my-3">
            {% if products.quantity > 0 %}
            <input type="hidden" value="{{products.id}}" id="pid">
            
              <p>
                <div class="relative flex items-stretch w-full" style="width:150px">
                  <button class="input-group-text bg-green-500 text-gray-100" id="btnMinus" ><i class="fa fa-minus"></i></button>
                    <input type="text" name="qty" id="txtQty" value="1" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded text-center">
                  <button class="input-group-text bg-green-500 text-gray-100" id="btnPlus"><i class="fa fa-plus"></i></button>
                </div>
              </p>
             <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600" id="btnCart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            {% else %}
            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-gray-600 text-white hover:bg-gray-700"><i class="fa fa-minus"></i> Out of Stock</button>
            {% endif %}
            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-red-600 text-white hover:bg-red-700" id="btnFav"><i class="fa fa-heart"></i></button>
          </div>
      </div>
    </div>
  </div>
</section>
 <script>
document.addEventListener("DOMContentLoaded", function(event) {
  const btnPlus = document.getElementById("btnPlus");
  const btnMinus = document.getElementById("btnMinus");
  const txtQty = document.getElementById("txtQty");
  const pid = document.getElementById("pid");
  const btnCart = document.getElementById("btnCart");
  const btnFav = document.getElementById("btnFav");

  btnPlus.addEventListener("click", function() {
    let qty=parseInt(txtQty.value,10);
    qty=isNaN(qty)?0:qty;
    //console.log(qty);
    if(qty<10){
      qty++;
      txtQty.value=qty;
    }
  });

  btnMinus.addEventListener("click", function() {
      let qty=parseInt(txtQty.value,10);
      qty=isNaN(qty)?0:qty;
      //console.log(qty);
      if(qty>1){
        qty--;
        txtQty.value=qty;
      }
  });

  btnCart.addEventListener("click", function() {
      let qty=parseInt(txtQty.value,10);
      qty=isNaN(qty)?0:qty;
      
      if(qty>0){
        let postObj = { 
            'product_qty': qty, 
            'pid': pid.value
        }
        //console.log(postObj);
        fetch("/addtocart",{
          method: 'POST',
          credentials: 'same-origin',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify(postObj)
        }).then(response => {
	        return response.json();
        }).then(data => {
        	//console.log(data);
          alert(data['status']);
        });
 

      }else{
        alert("Please Enter The Quantity");
      }
      
  });


  btnFav.addEventListener("click", function() {
     
        let postObj = { 
            'pid': pid.value
        }
        console.log(postObj);
        fetch("/fav",{
          method: 'POST',
          credentials: 'same-origin',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify(postObj)
        }).then(response => {
	        return response.json();
        }).then(data => {
        	//console.log(data);
          alert(data['status']);
        });
      
  });


});
 </script>
{% endblock content %}