{% load static %}

<!-- Navbar -->
<nav class="navbar sticky top-0 z-50 bg-orange-400 shadow-md">
    <div class="flex justify-between items-center container mx-auto p-2">
        <!-- Left Section: Logo and Links -->
        <div class="flex items-center space-x-8">
            <!-- Logo -->
             <div class="flex-1">
            <a href="{% url 'index' %}" class="btn btn-ghost text-xl font-bold"><img src="{% static 'images/logos/thsshoplogo.png' %}" class=" w-20" alt="thisShop"></a>
            </div>
            <!-- Navigation Links -->
            <div class="flex navbar-center">
                <ul class="menu menu-vertical lg:menu-horizontal rounded-box p-0">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'shop'  %}">Shop</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>               
            </div>
        </div>

        <!-- Right Section: Search, Icons, and Authentication -->
        <div class="flex items-center space-x-6">
            <!-- Search Bar -->
            <div class="form-control">
                <form action="{% url 'shop' %}" method="GET">
                    <input type="text" name="search" value="{{ search_query }}" placeholder="Search" class="input input-bordered w-48">
                </form>
            </div>
            <!-- Wishlist Icon -->
            <!-- {% comment %}<a href="{% url 'fav' %}" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </a>{% endcomment %} -->
            <!-- Shopping Cart Icon -->
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <div class="indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                        <span class="badge badge-sm indicator-item" id="cart-count">{{ cart_count }}</span>
                    </div>
                </div>
                <div tabindex="0" class="card card-compact dropdown-content bg-white z-[1] mt-3 w-52 shadow">
                    <div class="card-body">
                        <span class="text-lg font-bold" id="cart-count-dropdown">{{ cart_count }} items</span>
                        <span class="text-info" id="cart-total">Subtotal: ${{ cart_total|floatformat:2 }}</span>
                        <div class="card-actions">
                            <a href="{% url 'cart' %}" class="btn btn-primary btn-block">View cart</a>
                        </div>
                    </div>
               </div>
            </div>
            <!-- Authentication -->
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-xs sm:btn-sm lg:btn-small btn-primary">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-xs sm:btn-sm lg:btn-small btn-primary">Login</a>
            <a href="{% url 'register' %}" class="btn btn-xs sm:btn-sm lg:btn-small btn-primary">Signup</a>

            {% endif %}
        </div>
    </div>
</nav>


<script>
    const btn = document.querySelector('.mobile-menu-button');
    const menu = document.querySelector('.mobile-menu');

    btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });

</script>