<nav class="bg-primary text-white">
  <div class="container mx-auto px-4 py-2 flex items-center justify-between">
    <!-- Logo -->
    <a href="{% url 'index' %}" class="text-xl font-bold">thisShop</a>

    <!-- Navigation Links -->
    <ul class="flex items-center space-x-4">
      <li><a href="{% url 'index' %}" class="hover:text-secondary transition-colors duration-300">Home</a></li>
      <li><a href="{% url 'collections' %}" class="hover:text-secondary transition-colors duration-300">Collections</a></li>
      <li><a href="" class="hover:text-secondary transition-colors duration-300">About</a></li>
      <li><a href="{% url 'favviewpage' %}" class="hover:text-secondary transition-colors duration-300">Favourite</a></li>
    </ul>

    <!-- Auth Links -->
    <div class="flex items-center space-x-4 ">
      {% if user.is_authenticated %}
      <!-- If user is authenticated, show Logout button -->
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="bg-secondary text-white px-4 py-2 rounded-md hover:bg-secondary-dark transition-colors duration-300">Logout</button>
      </form>
      {% else %}
      <!-- If user is not authenticated, show Login and Register links -->
      <a href="{% url 'login' %}" class="hover:text-secondary transition-colors duration-300">Login</a>
      <a href="{% url 'register' %}" class="hover:text-secondary transition-colors duration-300">Register</a>
      {% endif %}
    </div>

    <!-- Shopping Cart -->
    <div class="ml-4">
      <a href="{% url 'cart' %}" class="relative inline-block">
        <div class="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
          <span class="badge badge-sm indicator-item">{{ cart_items|length }}</span>
        </div>
      </a>
    </div>
  </div>
</nav>
